<body>
<div fxLayoutAlign="center center" fxLayout="row" [ngStyle]="{'background-color': '#121212', 'height': '60%', 'color': 'white'}">
  <h1 class="mat-display-2" [ngStyle]="{'font-weight': '700'}">Your Custom {{athleteInfo.selectedStyle}} Program</h1>
</div>
<div fxLayoutGap="36px" fxLayout.xs="column" fxLayoutAlign="center start" fxLayout="row" [ngStyle]="{'background-color': '#bc0000', 'color': 'white', 'padding':'36px', 'padding-bottom':'36px', 'margin-bottom':'36px'}">
  <div fxFlex="25%">
    <h2>What is this program based on?</h2>
    <p>This program creates a training regimen that is perfectly suited for your current experience, availbility and goals so that you can train as effectively and efficiently as possible. </p>
  </div>
  <div fxFlex="25%" >
    <h2>What are sets and reps?</h2>
    <p>Reps are the number of times you executed an exercise. A set is a series of reps performed sequentially. For example, 2 sets of 15 reps means you perform the exercise 15 times in succession, take a short break, then do it again.</p>
  </div>
  <div fxFlex="25%" >
    <h2>What is RPE?</h2>
    <p>The RPE scale helps measure the intensity of your exercise. The scale goes from 0 - 10. The numbers correlate to how easy or dificult you find a movement. For example, RPE 6 would feel like you can complete 4 more reps until failure, RPE 8 would feel like you can complete 2 more reps until failure, RPE 10 would feel like you can't do any more reps.</p>
  </div>
</div>
<div fxLayoutAlign="center start" fxLayout="row">
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Week</mat-label>
      <mat-select [(ngModel)]="selectedWeek" name="week">
        <mat-option *ngFor="let weeks of data; let i = index" [value]="i+1">{{i+1}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
    <button mat-raised-button [ngStyle]="{'margin-left': '12px', 'margin-top': '12px', 'background-color': '#bc0000', 'color':'white'}" (click)="openSnackBar()" >Copy Program</button>
</div>

<div fxLayoutAlign="center" fxLayout="row wrap" fxLayout.xs="column" id="contentToConvert">
<table mat-table *ngFor = "let trainingDay of data[selectedWeek-1]; let j = index" [dataSource]="trainingDay"  [ngStyle]="{'margin':'12px'}" class="mat-elevation-z8" >
  <ng-container matColumnDef="parentDay">
    <th mat-header-cell *matHeaderCellDef colspan="5" [ngStyle]="{'color':'black', 'font-size': '16px', 'text-align': 'center'}">Day {{j+1}}</th>
  </ng-container>
  <ng-container matColumnDef="Movement">
    <th mat-header-cell *matHeaderCellDef>Movement</th>
    <td mat-cell *matCellDef="let element"><a href={{getExerciseTutorial(element.Movement)}}>{{element.Movement}}</a></td>
  </ng-container>

  <ng-container matColumnDef="Sets">
    <th mat-header-cell *matHeaderCellDef>Sets</th>
    <td mat-cell *matCellDef="let element">{{element.Sets}}</td>
  </ng-container>

  <ng-container matColumnDef="Reps">
    <th mat-header-cell *matHeaderCellDef>Reps</th>
    <td mat-cell *matCellDef="let element">{{element.Reps}}</td>
  </ng-container>

  <ng-container matColumnDef="Weight">
    <th mat-header-cell *matHeaderCellDef>Weight</th>
    <td mat-cell *matCellDef="let element">{{getWorkingWeight(element.Movement, element.relativeLift, element.RM, element.weightIncrement, element.RPE)}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['parentDay']"></tr>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
</body>

